In [1]:
1 + 1 # ADDITION

2

In [2]:
2-1

1

In [3]:
3*4

12

In [4]:
8 / 4 # Division

2.0

In [5]:
8 / 5 #float division

1.6

In [6]:
8/4 ## float division

2.0

In [7]:
8 // 4 #integer division

2

In [8]:
8 + 9 - 7

10

In [9]:
8 + 8 - #syntax error:

SyntaxError: invalid syntax (1452213586.py, line 1)

In [10]:
5 + 5 * 5

30

In [11]:
(5 + 5) * 5 # BODMAS (Bracket || Oders || Divide || Multiply || Add || Substact)

50

In [12]:
2 * 2 * 2 * 2 * 2 # exponentaion

32

In [13]:
2 * 5

10

In [14]:
2 ** 5

32

In [15]:
15 / 3

5.0

In [16]:
10 // 3

3

In [17]:
15 % 2 # Modulus

1

In [18]:
10 % 2

0

In [20]:
15 % % 2

SyntaxError: invalid syntax (3207386657.py, line 1)

In [21]:
3 + 'nit'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [22]:
3 * 'nit'

'nitnitnit'

In [23]:
a,b,c,d,e = 15, 7.8, 'nit', 8+9j, True

print(a)
print(b)
print(c)
print(d)
print(e)

15
7.8
nit
(8+9j)
True

In [24]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'bool'>

In [ ]:
type(c)

In [25]:
'Naresh IT'

'Naresh IT'

In [26]:
print('Max it')

Max it

In [27]:
"max it technology"

'max it technology'

In [28]:
s1 = 'max it technology'
s1

'max it technology'

In [29]:
a = 2
b = 3
a + b

5

In [30]:
c = a + b
c

5

In [31]:
a = 3
b = 'hi'
type(b)

str

In [32]:
print('max it's"Technology"') # \ has some special meaning to ignore the error

SyntaxError: unterminated string literal (detected at line 1) (1294101388.py, line 1)

In [33]:
print('max it\'s"Technology"') #\ has some special meaning to ignore the error

max it's"Technology"

In [34]:
print('max it',  'Technology')

max it Technology

In [36]:
print("'max it',  'Technology'")

'max it',  'Technology'

In [37]:
# print the nit 2 times 
'nit' + ' nit'

'nit nit'

In [38]:
'nit'  ' nit'

'nit nit'

In [39]:
#5 time print
5 * 'nit'

'nitnitnitnitnit'

In [40]:
5*' nit' # soace between words

' nit nit nit nit nit'

In [41]:
print('c:\nit') #\n -- new line

c:
it

In [42]:
print(r'c:\nit') #raw string

c:\nit

In [44]:
x = 2 #x is variable/identifier/objec, 2 is the value
x

2

In [45]:
x + 3

5

In [46]:
y = 3
y

3

In [47]:
x + y

5

In [48]:
x = 9
x

9

In [49]:
x + y

12

In [50]:
x + 10

19

In [51]:
_ + y # _ understand the previous result of the

22

In [52]:
_ + y

25

In [53]:
_ + y

28

In [54]:
_ + y

31

In [55]:
y

3

In [56]:
_ + y

6

In [57]:
_ + y

9

In [58]:
_ + y

12

In [60]:
# string variable 
name = 'mit'

In [61]:
name

'mit'

In [62]:
name + 'technology'

'mittechnology'

In [63]:
name + ' technology'

'mit technology'

In [64]:
name 'technology'

SyntaxError: invalid syntax (3186014715.py, line 1)

In [65]:
name

'mit'

In [66]:
len(name)

3

In [67]:
name[0] #python index begins with 0

'm'

In [68]:
name[5]

IndexError: string index out of range

In [69]:
name[7]

IndexError: string index out of range

In [70]:
name[-1]

't'

In [71]:
name[-2]

'i'

In [72]:
name[-6]

IndexError: string index out of range

In [73]:
name

'mit'

In [74]:
name[0:1] #to print 2 character

'm'

In [75]:
name[0:2]

'mi'

In [76]:
name[1:4]

'it'

In [77]:
name[1:]

'it'

In [78]:
name[:4]

'mit'

In [79]:
name[3:9]

''

In [80]:
name

'mit'

In [81]:
name1 = 'fine' # change the string fine to dine 
name1

'fine'

In [82]:
name1[0:1]

'f'

In [83]:
name1[0:1] = 'd' # i want to change 1st character of naresh (n) - t

TypeError: 'str' object does not support item assignment

In [84]:
name1[0] = 'd' #strings in python are immutable

TypeError: 'str' object does not support item assignment

In [85]:
name1

'fine'

In [86]:
name1[1:]

'ine'

In [87]:
'd' + name1[1:] #i want to change fine to dine

'dine'

In [88]:
num1.insert(2,'nit') #insert the value as per index values i.e 2nd index we are assigning nit

NameError: name 'num1' is not defined

In [89]:
# variable address
num = 5
id(num)

140710315043384

In [90]:
name = 'nit'
id(name) #Address will be different for both

2285546754032

In [91]:
a = 10
id(a)

140710315043544

In [92]:
b = a #thats why python is more memory efficient

In [93]:
id(b)

140710315043544

In [94]:
id(10)

140710315043544

In [ ]:
k = 10 
id(k)

In [95]:
a = 20  # as we change the value of a then address will change
id(a)

140710315043864

In [96]:
id(b)

140710315043544

In [97]:
PI = 3.14  #in math this is alway constant but python we can chang
PI

3.14

In [98]:
PI = 3.15
PI

3.15

In [99]:
type(PI)

float

## Arithmetic operator

In [100]:
x1, y1 = 10, 5

In [101]:
#x1 ^ y1

In [102]:
x1  + y1

15

In [103]:
x1 - y1

5

In [104]:
x1 * y1

50

In [105]:
x1 / y1

2.0

In [106]:
x1 // y1

2

In [107]:
x1 % y1

0

In [108]:
x1 ** y1

100000

In [109]:
x2 = 3
y2 = 2
x2 ** y2

9

## Assignment operator

In [110]:
x = 2

In [111]:
x = x + 2 # if you want to increment by 2

In [112]:
x

4

In [113]:
x += 2
x

6

In [114]:
x += 2
x

8

In [115]:
x *= 2

In [116]:
x

16

In [117]:
x -= 2

In [118]:
x

14

In [119]:
x /= 2
x

7.0

In [120]:
x //= 2
x

3.0

In [121]:
a, b = 5,6 # you can assigned variable in one line as well

In [122]:
a

5

In [123]:
b

6

## unary operator

In [125]:
n = 7 #negattion
n

7

In [126]:
m = -(n)
m

-7

In [127]:
n

7

In [128]:
-n

-7

# Relational operator

In [129]:
a = 5
b = 6

In [130]:
a<b

True

In [131]:
a>b

False

In [133]:
a == b

False

In [134]:
a != b

True

In [135]:
# hear if i change b = 6
b = 5

In [136]:
a == b

True

In [137]:
a

5

In [138]:
b

5

In [139]:
a >= b

True

In [140]:
a <= b

True

In [141]:
a < b

False

In [142]:
a>b

False

In [143]:
b = 7

In [144]:
a != b

True

## LOGICAL OPERATOR

In [145]:
a = 5
b = 4

In [146]:
a < 8 and b < 5 # True and True

True

In [147]:
a < 8 and b < 2 #True and False

False

In [148]:
a < 8 or b < 2 #True or false

True

In [149]:
a>8 or b<2 #False or False

False

In [150]:
x = False
x

False

In [151]:
not x  # you can reverse the operation

True